

* {
    box-sizing: border-box;
    font-family: "Gotham";
    list-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #393c41;
    padding: 0px;
    margin: 0px;
}
#page1 {
    position: relative;
    top: 0px;
    left: 0px;
    min-height: 763.556px;
    height: 100%;
    width: 100%;
    min-width: 480px;
}
#imgPage1 > img {
    position: absolute;
    top: 0px;
    left: 0px;
    /* min-height: 826.667px; */
    height: 763.556px;
    min-height: 763.556px;
    min-height: 763.556px;
    width: 100%;
    min-width: 480px;
    /* visibility: hidden; */
    z-index: -10;
}
#first-header{
    /* position: relative; */
    
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 5px;
    z-index: 1;
    /* display: inline; */
}
#teslaLogo {
    /* position: relative; */
    display: inline;
    
}
#teslaLogo > a {
    font-family: "Tesla";
    list-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
}
#otherCarsNav {
    /* position: relative; */
    /* margin-left: auto;
    margin-right: auto; */
    align-content: center;
    align-items: center;
    justify-content: center;
    display: inline;
}
#nav-list {
    list-style-type: none;
    display: inline;
}
.nav-options {
    display: inline;
    
}
a {
    text-decoration: none;

}
.menu-header-nav {
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}
#options {
    display: inline;
    position: absolute;
    right: 0px;
}

#option-list {
    list-style-type: none;
    display: inline;
}
.first-options {
    display: inline;
    
}
.options-nav {
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}
